
@charset    "UTF-8";
body{ 
    background-color: rgb(237, 223, 144);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
h1{
    color: darkgray;
}
h2{
    color: rgb(106, 140, 140);
}
p{
    color: darkslategray;
}
