@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: cadetblue;
    height: 100vh;
    width: 100vw;
    


}

header {
    background-color: rgb(14, 103, 106);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
}
header > h1 {
    color: rgb(214, 214, 214);
    flex: 0 0 200px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.463);
}
header > nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}
header > nav > a {
    text-decoration: none;
    background-color: rgb(27, 46, 102);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
}
header > nav > a:hover {
    background-color: white;
    color: rgb(27, 46, 102);
    transition: background-color .5s ;
}
main {
    background-color: rgb(26, 78, 190);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.477);
}
main > p {
    color: rgb(212, 212, 212);
}
main > h2 {
    color: rgb(215, 215, 215);
}